/* Nice font for button from Google Fonts */
@import url('https://fonts.cdnfonts.com/css/chinese-rocks');

* {
    padding: 0;
    margin: 0;
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-weight: 300;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    display: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1f2331f2;
    border-radius: 13px;
    display: none;
}

#container {
    position: absolute;
    height: auto;
    display: none;
    top: 20%;
    right: 20%;
    border-radius: 5px;
    background-image: url(https://cdn.discordapp.com/attachments/1215128628673908786/1229668591901610045/inkroller_1a.png?ex=662f339e&is=662de21e&hm=2fd7f94e81c2f1365724953081445d05bac21f94d7c8c411241689b288e90398&);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -10px;
    background-size: 100% 100%;
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: row !important;
    gap: 10px;
}
.title {
    cursor: default;
    gap: 10px;
    display: flex;
    flex-direction: row !important;
}

#buttons {
    max-height: 75vh;
    width: 300px;
    overflow-x: none;
    overflow-y: auto;
    padding: 25px;
}

html,
body {
    background: transparent !important;
}

.button {
    width: auto;
    height: 10%;
	background-color: #000000f2;
	color: rgb(239, 228, 205);
    text-shadow:2px 2px 4px #000000;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0.45rem;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.5rem 0.05rem #000000;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    font-size: 1.5rem;
}

.button:hover {
    background-color: #353031a6;
}

.title {
    width: auto;
    height: 10%;
    background-image: url(https://cdn.discordapp.com/attachments/1215128628673908786/1229672568416501780/menu_header_1a.png?ex=663088d2&is=661e13d2&hm=8621d619b888786c09bd17ded813116e7240a32b2b7cd3247b0c4c63032f9f26&);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
	color: rgb(239, 228, 205);
    text-shadow:2px 2px 4px #000000;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0.45rem;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.5rem 0.05rem #000000;
}

.title > div.column > div.header {
    text-decoration: underline !important;
}

.disabled {
    background: rgba(102, 102, 102, 0.9) !important;
    cursor: default;
}

div > .text {
    flex-direction: column;
    font-size: 1.2rem;
    overflow: hidden;
}

div > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color: rgb(229 180 79);
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.9rem;
    font-weight: 400;
    overflow: hidden;
}
